@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif;
  margin:0;
}
#brand{
  display:flex;
  align-items:center;
  color:#e8270b;
  font-size:26px;
}
#header-img{
  width:15%;
  height:15%;
}

#active{
    color:white;
    background:red;
}
header{
    width:100% !important;
    background: #18ba9c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #18ba9c 0%, #4ad6aa 68%, #4cd6db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #18ba9c 0%,#4ad6aa 68%,#4cd6db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #18ba9c 0%,#4ad6aa 68%,#4cd6db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18ba9c', endColorstr='#4cd6db',GradientType=1 ); IE6-9 :fallback on horizontal gradient;
    background:#2d2525;
    display:flex !important;
    justify-content:space-between !important;
    align-items:center !important;
    padding:0.5% 3% !important;
    top:0 !important;
    position:fixed !important;
}
nav{
    display:flex;
    margin-right:20%;
    justify-content:space-evenly;
    align-items:center;
    
}
.nav-link{
    min-width:40%;
    font-size: 14px;
    text-align:center;
    margin:0% 5%;
    color:white;
    padding:3%;
    text-decoration:none;
}
.nav-link:hover{
    color:black;
    background:#eb392f;
}
#health-tracker-card{
    margin:12% 15% 0% 15%;
    width:70%;
    background: #ff5db1; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ff5db1 0%, #ef017c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ff5db1 0%,#ef017c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ff5db1 0%,#ef017c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:300px;
    border-radius:5px;
    box-shadow: 0px 2px 2px grey;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
}
#health-tracker-card:hover{
    box-shadow: 0px 5px 5px grey;
    cursor:pointer;
}
#period-tracker-card{
    margin:2% 15% 0% 15%;
    width:70%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4e391+0,61c419+100,b4e391+100 */
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #b4e391 0%, #61c419 100%, #b4e391 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #b4e391 0%,#61c419 100%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #b4e391 0%,#61c419 100%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    height:100px;
    border-radius:5px;
    box-shadow: 0px 2px 2px grey;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
}
#period-tracker-card:hover{
    box-shadow: 0px 5px 5px grey;
    cursor:pointer;
}
#health-track-img{
    width:300px;
}
#sub-card{
    width:20%;
    height:200px;
    background: #59c0e5; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #59c0e5 0%, #59c0e5 16%, #3387f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #59c0e5 0%,#59c0e5 16%,#3387f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #59c0e5 0%,#59c0e5 16%,#3387f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59c0e5', endColorstr='#3387f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align:center;
    margin:3%;
    border-radius:5px;
    box-shadow: 0px 2px 2px grey;
}
#sub-card:hover{
    box-shadow: 0px 5px 5px grey;
    cursor:pointer;
}
#job-content{
    margin:10% 15% 1% 15%;
    display:flex;
    justify-content:space-evenly;
    border:2px solid grey;
    padding:1%;
}
#search{
    padding:1%;
    width:60%;
}
#search-product{
    padding:1%;
    font-size:32px;
    border:3px solid #eb7535;
    width:70%;
}
#location{
    width:35%;
    padding:1%;
    background:#d9d9d9;
    border:none;
}
#content{
    margin-bottom:5%;
}

#content-home{
    margin-bottom:5%;
}
#job-results{
    display:flex !important;
    justify-content:center !important;
}
.job-name{
    color:#eb7535;
}
.job-card{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border:1px solid #ff7930;
    border-radius:5px;
    background:#fffaf8;
    padding:2%;
    width:50%;
    margin:1%;
box-shadow: 0px 2px 2px grey;
}
.job-card:hover{
    box-shadow: 0px 5px 5px grey;
}
#portal-img{
    width:100%;
    margin-top:10%;
}
#portal-img:hover{
box-shadow:0px 5px 5px black;
}
#home-title{
    color:#eb7535;
    font-size:60px;
    text-align:center;
    margin:2%;
}
#home-content{
    margin:1% 15% 1% 15%;
    display:flex;
    justify-content:space-evenly;
    padding:1%;
}
.product-card{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border:1px solid #ff7930;
    border-radius:5px;
    background:#fffaf8;
    padding:2%;
    width:50%;
    margin:1%;
box-shadow: 0px 2px 2px grey;
}
.product-card:hover{
    box-shadow: 0px 5px 5px grey;
}
.product-content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.product-img{
    width:50%;
    height:100%;
    margin-right:5%;
}
#total{
    color:#eb7535;
    text-align:center;
    width:40%;
    border:2px solid black;
    padding:1%;
}
#buy{
    display:flex;
    justify-content:center;
    align-items:center;
}
#cart-products{
    margin-top:3%;
}
#checkout{
    margin:2%;
    background:#eb7535;
    color:white;
    text-align:center;
    border:2px solid white;
    padding:1.25%;
}
#checkout:hover{
    background:#e27d47;
    box-shadow: 0px 2px 2px grey;
}
#alter{
    background:#eb7535;
    color:white;
    border:2px solid white;
    max-width:10%;
}

#alter:hover{
    background:#e27d47;
    box-shadow: 0px 2px 2px grey;
}
#cart-heading{
    margin-top:12%;
    margin-bottom:3%;
    text-align:center;
    color:grey;
}