@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif;
  margin:0;
}
#search{
    padding:1%;
    width:60%;
}
#search-product{
    padding:1%;
    font-size:22px;
    border:3px solid #ff1744;
    width:70%;
}

#content{
    margin-bottom:5%;
}

#content-home{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:80%;
    margin:0% 10% 5% 10%;
}
#product-results{
    display:flex !important;
    justify-content:center !important;
}

#portal-img{
    width:100%;
    margin-top:10%;
}
#portal-img:hover{
box-shadow:0px 5px 5px black;
}
#home-title{
    color:#eb7535;
    font-size:60px;
    text-align:center;
    margin:2%;
}
#home-content{
    margin:1% 15% 1% 15%;
    display:flex;
    justify-content:space-evenly;
    padding:1%;
}
.product-card{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border:1px solid #ff1744;
    border-radius:5px;
    background:#ff5d7c;
    padding:2%;
    width:500px;
    height:250px;
    margin:5%;
    box-shadow: 0px 2px 2px grey;
}
.product-card:hover{
    box-shadow: 0px 5px 5px grey;
    cursor:pointer;
}
.product-content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.product-img{
    width:50%;
    height:100%;
    margin-right:5%;
}
.product-name{
    color:#2b292a;
}